<?xml version="1.0"?>
<psalm
    errorLevel="4"
    findUnusedVariablesAndParams="true"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>
    <issueHandlers>
        <MissingOverrideAttribute errorLevel="suppress" />
        <UnusedClass>
            <errorLevel type="suppress">
                <file name="src/BannableServiceProvider.php" />
                <file name="src/Middleware/ForbidBannedUser.php" />
            </errorLevel>
        </UnusedClass>
        <PossiblyUnusedProperty>
            <errorLevel type="suppress">
                <directory name="src/Events" />
            </errorLevel>
        </PossiblyUnusedProperty>
        <PossiblyUnusedMethod>
            <errorLevel type="suppress">
                <directory name="src/Models" />
                <directory name="src/Observers" />
                <directory name="src/Scopes" />
            </errorLevel>
        </PossiblyUnusedMethod>
        <UndefinedMagicMethod>
            <errorLevel type="suppress">
                <file name="src/Models/Ban.php" />
            </errorLevel>
        </UndefinedMagicMethod>
        <UndefinedInterfaceMethod>
            <errorLevel type="suppress">
                <file name="src/Observers/BanObserver.php" />
            </errorLevel>
        </UndefinedInterfaceMethod>
        <UndefinedMagicPropertyFetch>
            <errorLevel type="suppress">
                <file name="src/Observers/BanObserver.php" />
            </errorLevel>
        </UndefinedMagicPropertyFetch>
    </issueHandlers>
</psalm>
